[submodule "interlogp-weather-backend"]
	path = interlogp-weather-backend
	url = https://github.com/INTER-IoT/interlogp-weather-backend.git
[submodule "interlogp-weather-frontend"]
	path = interlogp-weather-frontend
	url = https://github.com/INTER-IoT/interlogp-weather-frontend.git
